
<% @transgressions.each do |sin_type, trans| %>
<h4>
  For the sin of <em><%= sin_type %></em>, your weaknesses are:
</h4>
<ul>
  <% trans.each do |t| %>
    <li>
      <%= t.description %>, with <%= t.confessions.count %> confessions:
      <% if t.confessions.count > 0 %>
        <ul>
          <% t.confessions.each do |c| %>
            <li>
              "<%= c.description %>" - <%= c.occurred_at %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>
