<!DOCTYPE html>
<html>
<head>
  <title>TheSinsWeCommit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:message] %>
    <div class="alert">
      <%= flash[:message] %>
    </div>
  <% end %>

  <%= yield %>

  <% if current_user %>
  <hr/>
  <form action="<%= session_path %>" method="POST">
    <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Log Out!">
  </form>
  <% end %>
</body>
</html>
